@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.gradient{
  background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(3,20,48,1) 20%, rgba(9,121,110,0.989233193277311) 77%, rgba(0,212,255,1) 98%, rgba(0,212,255,1) 98%);
}

.shift{
  margin-top: -73px;
}